---
name: Release

on:
  push:
    tags:
      - v*
  workflow_dispatch: {}


jobs:
  build:
    name: Build and push container
    runs-on: ubuntu-latest
    steps:
      - name: Login
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          file: cli.Dockerfile
          push: true
          tags: quay.io/projectquay/clair-action:${{ github.ref_name }}
          build-args: |
            CLAIR_ACTION_VERSION: ${{ github.ref_name }}
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: main
      - name: Check Dockerfile
        shell: bash
        run: |
          sed -i 's/clair-action:v.*/clair-action:${{ github.ref_name }}/' Dockerfile
          git diff --exit-code
